<p id="notice"><%= notice %></p>

<h1>Reviews</h1>


<table class="table-striped">
  <tbody>
    <% @reviews.each do |review| %>
        <tr>
          <td>
            <p><strong>Name: </strong><%= review.username %></p>
            <p><strong>Date: </strong><%= review.date %></p>
            <p><strong>Comment: </strong><%= review.comment %></p>
            <% n = 0 %>
            <strong>Rating: </strong>
            <% while n < review.rating do %>
              <%= image_tag("star-on.png") %>
              <% n += 1 %>
            <% end %>
            <% @m = Movie.find(review.movie_id) %>
            <p><br><strong>Movie: </strong><%= @m.title %></p>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
